@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;

}

body.dark {
    background-color: #292c35;
}

/* #9b59b6 */