{% extends 'base.html' %} {% block body %}

<div class="container">
  <div class="mask d-flex align-items-center h-50 gradient-custom-3">
    <div class="container h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-4">Login</h2>

              <form action="{{url_for('login')}}" method="POST">
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="email">Your Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control form-control-lg"
                    required
                  />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control form-control-lg"
                    required
                  />
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-outline-dark btn-lg gradient-custom-4"
                  >
                    Login
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Don't have an account?
                  <a href="{{url_for('register')}}" class="fw-bold text-body"
                    ><u>Sign Up </u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
